@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Open+Sans&display=swap');

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header,
main,
footer,
section,
div {
    box-sizing: border-box;
    font-family: "Open Sans";
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    -webkit-user-select: none;
    user-select: none;

}

header {
    background: #555;
    height: 150px;
    color: #d8d87d;
    position: sticky;
    top: 0;
    z-index: 1;

    & section {
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    & section#appName {
        padding-left: 50px;
        padding-right: 30px;
        font-size: 2em;
        display: flex;

        & div:nth-child(1) {
            font-family: "Cinzel Decorative" !important;
        }

        & div#installApp {
            cursor: pointer;
        }
    }

    & section#switchCenter {
        background: #7dd87e;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #555;
        -webkit-tap-highlight-color: transparent;
        display: flex;
        flex-direction: column;
        align-items: start;

        & .switch-button:before {
            content: "FX";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 120px;
            display: flex;
            align-items: center;
            justify-content: end;
            z-index: 3;
            pointer-events: none;
            padding-right: 18%;
        }

        & .switch-button {
            background: rgba(255, 255, 255, 0.56);
            border-radius: 30px;
            overflow: hidden;
            width: 180px;
            text-align: center;
            font-size: 18px;
            letter-spacing: 1px;
            color: #535353;
            padding-right: 90px;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            bottom: 5px;

        }

        & .switch-button-checkbox {
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 3;
        }

        & .switch-button-checkbox:checked+.switch-button-label:before {
            transform: translateX(90px);
            transition: transform 300ms linear;
        }

        & .switch-button-checkbox+.switch-button-label {
            position: relative;
            padding: 5px 0;
            display: block;
            pointer-events: none;
        }

        & .switch-button-checkbox+.switch-button-label:before {
            content: "";
            background: #fff;
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 30px;
            transform: translateX(0);
            transition: transform 300ms;
        }

        & .switch-button-checkbox+.switch-button-label {
            position: relative;
            padding: 5px 0;
            display: block;
            pointer-events: none;
        }

        & .switch-button-checkbox+.switch-button-label:before {
            content: "";
            background: #fff;
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 30px;
            transform: translateX(0);
            transition: transform 300ms;
        }

        & .switch-button-checkbox+.switch-button-label .switch-button-label-span {
            position: relative;
        }

        & div#currencyForm {
            position: absolute;
            top: 5px;

            & div#currencySelection {
                width: 180px;
                height: 25px;
                background: #fff;
                display: flex;
                color: #555;
                border-radius: 4px;
                align-items: center;
                border: 1px solid #555;

                & div#selectedCurrancyFlag {
                    width: 40px;
                    height: 17px;
                    margin: 0 3px;
                }

                & div#currencyId {
                    text-align: center;
                }
            }

            & div#listContainer {
                position: absolute;
                display: none;
                width: 180px;
                height: 350px;
                background: #fff;
                opacity: 0;
                border: 1px solid #555;
                overflow-y: scroll;
                transition: all 0.5s;
                margin-top: 3px;
                z-index: 4;
                left: 50%;
                border-radius: 4px;
                padding: 0;
                transform: translate(-50%);
                grid-template-columns: 120px 40px;
                grid-template-rows: 27px 1fr;
                grid-column-gap: 0px;
                grid-row-gap: 0px;

                & *:focus {
                    outline: none;
                }

                & input#findCurrency {
                    margin: 3px;
                    padding: 3px;
                    border-top: 1px solid #555;
                    border-bottom: 1px solid #555;
                    border-left: 1px solid #555;
                    border-right: none;
                    grid-area: 1 / 1 / 2 / 2;
                    position: sticky;
                    top: 3px;
                    background: #fff;
                    z-index: 1;
                    max-height: 27px;
                }

                & div#searchIcon {
                    grid-area: 1 / 2 / 2 / 3;
                    color: #555;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-top: 1px solid #555;
                    border-bottom: 1px solid #555;
                    border-right: 1px solid #555;
                    border-left: none;
                    margin: 3px 3px 3px -3px;
                    position: sticky;
                    top: 3px;
                    padding: 3px;
                    width: 40px;
                    background: #fff;
                    z-index: 1;
                    cursor: pointer;
                    max-height: 27px;
                }

                & div#currencyList {
                    grid-area: 2 / 1 / 3 / 3;
                    padding: 3px;
                    z-index: 0;
                    width: 160px;
                   
                    & div.optionContainer:nth-child(odd) {
                        background: #e5e5b4;
                        padding: 3px;
                    }

                    & div.optionContainer {
                        display: flex;
                        height: 35px;
                        padding: 3px;
                        color: #555;
                        border: 1px solid #555;
                        margin: 2px 0;

                        & div.flag-option {
                            width: 50px;
                            height: 27px;
                        }

                        & div.optionCurrency {
                            text-align: center;
                            padding-top: 3px;
                        }
                    }
                }
            }
        }
    }
}

main {
    overflow: hidden;
    display: flex;
    position: relative;
    z-index: 0;

    & section#fx {
        position: relative;
        width: 100%;
        transition-property: all;
        transition-duration: 0.3s;
        margin-left: -100%;
        flex-shrink: 0;

        div.fxContainer {
            width: 100%;
            height: 75px;
            border-right: 1px solid #d8d87d;
            border-left: 1px solid #d8d87d;
            border-bottom: 1px solid #d8d87d;
            display: flex;
        }

        div {
            justify-content: center;
            display: flex;
            align-items: center;
        }

        div.fxPrice {
            justify-content: end;
            padding-right: 15px;
        }

        div.fxIcon {
            background: #d8d8d8;
            justify-content: center;
            padding: 0;
            height: 100%;
            margin: 0;
            max-width: 100px;
            border-right: 2px solid #d8d87d;

            & div.fflag {
                width: 42px !important;
                height: 32px !important;
            }
        }
    }

    & section#crypto {
        position: relative;
        width: 100%;
        transition-property: all;
        transition-duration: 0.3s;
        flex-shrink: 0;

        div.cryptoContainer {
            width: 100%;
            height: 75px;
            border-right: 1px solid #7dd87e;
            border-left: 1px solid #7dd87e;
            border-bottom: 1px solid #7dd87e;
            display: flex;

            div {
                padding-left: 15px;
                text-align: left;
                display: flex;
                align-items: center;
            }

            div.cryptoPrice {
                justify-content: end;
                padding-right: 15px;
            }

            div.cryptoIcon {
                background: #535353;
                background: #989998;
                justify-content: center;
                padding: 0;
                max-width: 100px;
                border-right: 2px solid #7dd87e;
                
                & div.fflag {
                    width: 42px !important;
                    height: 32px !important;
                }
            }
        }
    }
}

.switchCurrency {
    margin-left: 0 !important;
    transition-property: margin-left;
    transition-duration: 0.3s;
}

.switchBGColor {
    transition-property: background;
    transition-duration: 0.3s;
    background: #d8d87d !important;
}

.materialIcons {
    font-family: "Material Icons";
    width: 30px;
}

.changeOpacity {
    opacity: 1 !important;
}